@use 'sass:map';
@use '@angular/material' as mat;

@import './_ui-density.scss';
@import './_ui-typography.scss';

$_palettes: (
  primary: (
    mat.$blue-palette,
  ),
  secondary: (
    mat.$yellow-palette,
  ),
  tertiary: (
    mat.$green-palette,
  ),
  neutral: (
    mat.$violet-palette,
  ),
  neutral-variant: (
    mat.$magenta-palette,
  ),
  error: (
    mat.$red-palette,
  ),
);

$_rest: (
  secondary: map.get(mat.$cyan-palette, secondary),
  neutral: map.get(mat.$yellow-palette, neutral),
  neutral-variant: map.get(mat.$orange-palette, neutral-variant),
  error: map.get(mat.$red-palette, error),
);
$_primary: map.merge(mat.$blue-palette, $_rest);
$_tertiary: map.merge(mat.$green-palette, $_rest);

$custom-light-theme-1: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: $_primary,
      tertiary: $_tertiary,
    ),
    density: $ui-density,
    typography: $ui-typography,
  )
);

$custom-dark-theme-1: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: $_primary,
      tertiary: $_tertiary,
    ),
    density: $ui-density,
    typography: $ui-typography,
  )
);
