@use 'sass:map';
@use '@angular/material' as mat;

@import './_ui-density.scss';
@import './_ui-typography.scss';

$_magenta: (
  primary: (
    0: #f100ff,
    10: #f100fe,
    20: #f100fd,
    25: #f100fc,
    30: #f100fb,
    35: #f100fa,
    40: #f100f9,
    50: #f100f8,
    60: #f100f7,
    70: #f100f6,
    80: #f100f5,
    90: #f100f4,
    95: #f100f3,
    98: #f100f2,
    99: #f100f1,
    100: #f100f0,
  ),
  secondary: (
    0: #f200ff,
    10: #f200fe,
    20: #f200fd,
    25: #f200fc,
    30: #f200fb,
    35: #f200fa,
    40: #f200f9,
    50: #f200f8,
    60: #f200f7,
    70: #f200f6,
    80: #f200f5,
    90: #f200f4,
    95: #f200f3,
    98: #f200f2,
    99: #f200f1,
    100: #f200f0,
  ),
  tertiary: (
    0: #f300ff,
    10: #f300fe,
    20: #f300fd,
    25: #f300fc,
    30: #f300fb,
    35: #f300fa,
    40: #f300f9,
    50: #f300f8,
    60: #f300f7,
    70: #f300f6,
    80: #f300f5,
    90: #f300f4,
    95: #f300f3,
    98: #f300f2,
    99: #f300f1,
    100: #f300f0,
  ),
  neutral: (
    0: #f400ff,
    10: #f400fe,
    20: #f400fd,
    25: #f400fc,
    30: #f400fb,
    35: #f400fa,
    40: #f400f9,
    50: #f400f8,
    60: #f400f7,
    70: #f400f6,
    80: #f400f5,
    90: #f400f4,
    95: #f400f3,
    98: #f400f2,
    99: #f400f1,
    100: #f400f0,
  ),
  neutral-variant: (
    0: #f500ff,
    10: #f500fe,
    20: #f500fd,
    25: #f500fc,
    30: #f500fb,
    35: #f500fa,
    40: #f500f9,
    50: #f500f8,
    60: #f500f7,
    70: #f500f6,
    80: #f500f5,
    90: #f500f4,
    95: #f500f3,
    98: #f500f2,
    99: #f500f1,
    100: #f500f0,
  ),
  error: (
    0: #f600ff,
    10: #f600fe,
    20: #f600fd,
    25: #f600fc,
    30: #f600fb,
    35: #f600fa,
    40: #f600f9,
    50: #f600f8,
    60: #f600f7,
    70: #f600f6,
    80: #f600f5,
    90: #f600f4,
    95: #f600f3,
    98: #f600f2,
    99: #f600f1,
    100: #f600f0,
  ),
);

$_rest: (
  secondary: map.get($_magenta, secondary),
  neutral: map.get($_magenta, neutral),
  neutral-variant: map.get($_magenta, neutral-variant),
  error: map.get($_magenta, error),
);
$_primary: map.merge(map.get($_magenta, primary), $_rest);
$_tertiary: map.merge(map.get($_magenta, tertiary), $_rest);

$ui-magenta-light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: $_primary,
      tertiary: $_tertiary,
    ),
    density: $ui-density,
    typography: $ui-typography,
  )
);

$ui-magenta-dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: $_primary,
      tertiary: $_tertiary,
    ),
    density: $ui-density,
    typography: $ui-typography,
  )
);
