@use '@angular/material' as mat;
@use './palettes/_index.scss' as palettes;
@use './_ui-density.scss' as ui-density;
@use './_ui-typography.scss' as ui-typography;

// $primary: $primary-palette;
// $tertiary: $tertiary-palette;

$primary: palettes.$app-primary-palette;
$tertiary: palettes.$app-tertiary-palette;

$ui-light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: $primary,
      tertiary: $tertiary,
    ),
    density: ui-density.$ui-density,
    typography: ui-typography.$ui-typography,
  )
);

// $ui-dark-theme: mat.define-theme(
//   (
//     color: (
//       theme-type: dark,
//       primary: $primary,
//       tertiary: $tertiary,
//     ),
//     density: $ui-density,
//     typography: $ui-typography,
//   )
// );

$ui-theme: $ui-light-theme;
