:root {
  --mat-fab-container-shape: 0.5rem;
  --mat-fab-small-container-shape: 0.5rem;
  --mat-button-filled-container-shape: 0.5rem;
  --mat-button-outlined-container-shape: 0.5rem;
  --mat-button-protected-container-shape: 0.5rem;
  --mat-button-text-container-shape: 0.5rem;
  --mat-button-toggle-shape: 0.25rem;
  --mat-button-toggle-selected-state-background-color: #004382;
  --mat-button-toggle-selected-state-text-color: #ffffff;
}

// button[mat-icon-button].mat-mdc-icon-button {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   // width: fit-content;
//   // height: fit-content;
//   width: 2.55rem;
//   height: 2.55rem;
// }

// :root {
// --mat-button-text-label-text-color: #343dff;
// --mat-button-text-disabled-label-text-color: rgba(27, 27, 31, 0.38);
// --mat-button-text-label-text-font: Arial, Verdana, Tahoma, sans-serif;
// --mat-button-text-label-text-size: 0.875rem;
// --mat-button-text-label-text-tracking: 0.006rem;
// --mat-button-text-label-text-weight: 700;
// --mat-button-text-container-height: 36px;
// --mat-button-text-container-shape: 9999px;
// --mat-button-protected-container-color: #fffbfd;
// --mat-button-protected-label-text-color: #343dff;
// --mat-button-protected-disabled-container-color: rgba(27, 27, 31, 0.12);
// --mat-button-protected-disabled-label-text-color: rgba(27, 27, 31, 0.38);
// --mat-button-protected-container-elevation-shadow: 0px 2px 1px -1px rgba(0, 0, 2, 0.2),
//   0px 1px 1px 0px rgba(0, 0, 2, 0.14), 0px 1px 3px 0px rgba(0, 0, 2, 0.12);
// --mat-button-protected-disabled-container-elevation-shadow: 0px 0px 0px 0px rgba(0, 0, 2, 0.2),
//   0px 0px 0px 0px rgba(0, 0, 2, 0.14), 0px 0px 0px 0px rgba(0, 0, 2, 0.12);
// --mat-button-protected-focus-container-elevation-shadow: 0px 2px 1px -1px rgba(0, 0, 2, 0.2),
//   0px 1px 1px 0px rgba(0, 0, 2, 0.14), 0px 1px 3px 0px rgba(0, 0, 2, 0.12);
// --mat-button-protected-hover-container-elevation-shadow: 0px 3px 3px -2px rgba(0, 0, 2, 0.2),
//   0px 3px 4px 0px rgba(0, 0, 2, 0.14), 0px 1px 8px 0px rgba(0, 0, 2, 0.12);
// --mat-button-protected-pressed-container-elevation-shadow: 0px 2px 1px -1px rgba(0, 0, 2, 0.2),
//   0px 1px 1px 0px rgba(0, 0, 2, 0.14), 0px 1px 3px 0px rgba(0, 0, 2, 0.12);
// --mat-button-protected-container-shadow-color: #000002;
// --mat-button-protected-label-text-font: Arial, Verdana, Tahoma, sans-serif;
// --mat-button-protected-label-text-size: 0.875rem;
// --mat-button-protected-label-text-tracking: 0.006rem;
// --mat-button-protected-label-text-weight: 700;
// --mat-button-protected-container-height: 36px;
// --mat-button-protected-container-shape: 9999px;
// --mat-button-filled-container-color: #343dff;
// --mat-button-filled-label-text-color: #ffffff;
// --mat-button-filled-disabled-container-color: rgba(27, 27, 31, 0.12);
// --mat-button-filled-disabled-label-text-color: rgba(27, 27, 31, 0.38);
// --mat-button-filled-label-text-font: Arial, Verdana, Tahoma, sans-serif;
// --mat-button-filled-label-text-size: 0.875rem;
// --mat-button-filled-label-text-tracking: 0.006rem;
// --mat-button-filled-label-text-weight: 700;
// --mat-button-filled-container-height: 36px;
// --mat-button-filled-container-shape: 9999px;
// --mat-button-outlined-disabled-outline-color: rgba(27, 27, 31, 0.12);
// --mat-button-outlined-disabled-label-text-color: rgba(27, 27, 31, 0.38);
// --mat-button-outlined-label-text-color: #343dff;
// --mat-button-outlined-outline-color: #777680;
// --mat-button-outlined-label-text-font: Arial, Verdana, Tahoma, sans-serif;
// --mat-button-outlined-label-text-size: 0.875rem;
// --mat-button-outlined-label-text-tracking: 0.006rem;
// --mat-button-outlined-label-text-weight: 700;
// --mat-button-outlined-container-height: 36px;
// --mat-button-outlined-outline-width: 1px;
// --mat-button-outlined-container-shape: 9999px;
// --mat-button-text-state-layer-color: #343dff;
// --mat-button-text-disabled-state-layer-color: #46464f;
// --mat-button-text-ripple-color: rgba(52, 61, 255, 0.12);
// --mat-button-text-hover-state-layer-opacity: 0.08;
// --mat-button-text-focus-state-layer-opacity: 0.12;
// --mat-button-text-pressed-state-layer-opacity: 0.12;
// --mat-button-text-touch-target-display: block;
// --mat-button-text-horizontal-padding: 12px;
// --mat-button-text-with-icon-horizontal-padding: 16px;
// --mat-button-text-icon-spacing: 8px;
// --mat-button-text-icon-offset: -4px;
// --mat-button-protected-state-layer-color: #343dff;
// --mat-button-protected-disabled-state-layer-color: #46464f;
// --mat-button-protected-ripple-color: rgba(52, 61, 255, 0.12);
// --mat-button-protected-hover-state-layer-opacity: 0.08;
// --mat-button-protected-focus-state-layer-opacity: 0.12;
// --mat-button-protected-pressed-state-layer-opacity: 0.12;
// --mat-button-protected-touch-target-display: block;
// --mat-button-protected-horizontal-padding: 24px;
// --mat-button-protected-icon-spacing: 8px;
// --mat-button-protected-icon-offset: -8px;
// --mat-button-filled-state-layer-color: #ffffff;
// --mat-button-filled-disabled-state-layer-color: #46464f;
// --mat-button-filled-ripple-color: rgba(255, 255, 255, 0.12);
// --mat-button-filled-hover-state-layer-opacity: 0.08;
// --mat-button-filled-focus-state-layer-opacity: 0.12;
// --mat-button-filled-pressed-state-layer-opacity: 0.12;
// --mat-button-filled-touch-target-display: block;
// --mat-button-filled-horizontal-padding: 24px;
// --mat-button-filled-icon-spacing: 8px;
// --mat-button-filled-icon-offset: -8px;
// --mat-button-outlined-state-layer-color: #343dff;
// --mat-button-outlined-disabled-state-layer-color: #46464f;
// --mat-button-outlined-ripple-color: rgba(52, 61, 255, 0.12);
// --mat-button-outlined-hover-state-layer-opacity: 0.08;
// --mat-button-outlined-focus-state-layer-opacity: 0.12;
// --mat-button-outlined-pressed-state-layer-opacity: 0.12;
// --mat-button-outlined-touch-target-display: block;
// --mat-button-outlined-horizontal-padding: 24px;
// --mat-button-outlined-icon-spacing: 8px;
// --mat-button-outlined-icon-offset: -8px;
// --mat-icon-button-icon-color: #46464f;
// --mat-icon-button-disabled-icon-color: rgba(27, 27, 31, 0.38);
// --mat-icon-button-state-layer-size: 36px;
// --mat-icon-button-icon-size: 24px;
// --mat-icon-button-state-layer-color: #46464f;
// --mat-icon-button-disabled-state-layer-color: #46464f;
// --mat-icon-button-ripple-color: rgba(70, 70, 79, 0.12);
// --mat-icon-button-hover-state-layer-opacity: 0.08;
// --mat-icon-button-focus-state-layer-opacity: 0.12;
// --mat-icon-button-pressed-state-layer-opacity: 0.12;
// --mat-icon-button-touch-target-display: block;
// --mat-fab-extended-container-elevation-shadow: 0px 3px 5px -1px rgba(0, 0, 2, 0.2),
//   0px 6px 10px 0px rgba(0, 0, 2, 0.14), 0px 1px 18px 0px rgba(0, 0, 2, 0.12);
// --mat-fab-extended-focus-container-elevation-shadow: 0px 3px 5px -1px rgba(0, 0, 2, 0.2),
//   0px 6px 10px 0px rgba(0, 0, 2, 0.14), 0px 1px 18px 0px rgba(0, 0, 2, 0.12);
// --mat-fab-extended-hover-container-elevation-shadow: 0px 5px 5px -3px rgba(0, 0, 2, 0.2),
//   0px 8px 10px 1px rgba(0, 0, 2, 0.14), 0px 3px 14px 2px rgba(0, 0, 2, 0.12);
// --mat-fab-extended-pressed-container-elevation-shadow: 0px 3px 5px -1px rgba(0, 0, 2, 0.2),
//   0px 6px 10px 0px rgba(0, 0, 2, 0.14), 0px 1px 18px 0px rgba(0, 0, 2, 0.12);
// --mat-fab-extended-container-shadow-color: #000002;
// --mat-fab-extended-label-text-font: Arial, Verdana, Tahoma, sans-serif;
// --mat-fab-extended-label-text-size: 0.875rem;
// --mat-fab-extended-label-text-tracking: 0.006rem;
// --mat-fab-extended-label-text-weight: 700;
// --mat-fab-extended-container-height: 56px;
// --mat-fab-extended-container-shape: 16px;
// --mat-fab-container-color: #e0e0ff;
// --mat-fab-container-elevation-shadow: 0px 3px 5px -1px rgba(0, 0, 2, 0.2),
//   0px 6px 10px 0px rgba(0, 0, 2, 0.14), 0px 1px 18px 0px rgba(0, 0, 2, 0.12);
// --mat-fab-focus-container-elevation-shadow: 0px 3px 5px -1px rgba(0, 0, 2, 0.2),
//   0px 6px 10px 0px rgba(0, 0, 2, 0.14), 0px 1px 18px 0px rgba(0, 0, 2, 0.12);
// --mat-fab-hover-container-elevation-shadow: 0px 5px 5px -3px rgba(0, 0, 2, 0.2),
//   0px 8px 10px 1px rgba(0, 0, 2, 0.14), 0px 3px 14px 2px rgba(0, 0, 2, 0.12);
// --mat-fab-pressed-container-elevation-shadow: 0px 3px 5px -1px rgba(0, 0, 2, 0.2),
//   0px 6px 10px 0px rgba(0, 0, 2, 0.14), 0px 1px 18px 0px rgba(0, 0, 2, 0.12);
// --mat-fab-container-shadow-color: #000002;
// --mat-fab-container-shape: 16px;
// --mat-fab-icon-size: 24px;
// --mat-fab-small-container-color: #e0e0ff;
// --mat-fab-small-container-elevation-shadow: 0px 3px 5px -1px rgba(0, 0, 2, 0.2),
//   0px 6px 10px 0px rgba(0, 0, 2, 0.14), 0px 1px 18px 0px rgba(0, 0, 2, 0.12);
// --mat-fab-small-focus-container-elevation-shadow: 0px 3px 5px -1px rgba(0, 0, 2, 0.2),
//   0px 6px 10px 0px rgba(0, 0, 2, 0.14), 0px 1px 18px 0px rgba(0, 0, 2, 0.12);
// --mat-fab-small-hover-container-elevation-shadow: 0px 5px 5px -3px rgba(0, 0, 2, 0.2),
//   0px 8px 10px 1px rgba(0, 0, 2, 0.14), 0px 3px 14px 2px rgba(0, 0, 2, 0.12);
// --mat-fab-small-pressed-container-elevation-shadow: 0px 3px 5px -1px rgba(0, 0, 2, 0.2),
//   0px 6px 10px 0px rgba(0, 0, 2, 0.14), 0px 1px 18px 0px rgba(0, 0, 2, 0.12);
// --mat-fab-small-container-shadow-color: #000002;
// --mat-fab-small-container-shape: 12px;
// --mat-fab-small-icon-size: 24px;
// --mat-fab-foreground-color: #00006e;
// --mat-fab-state-layer-color: #00006e;
// --mat-fab-ripple-color: rgba(0, 0, 110, 0.12);
// --mat-fab-hover-state-layer-opacity: 0.08;
// --mat-fab-focus-state-layer-opacity: 0.12;
// --mat-fab-pressed-state-layer-opacity: 0.12;
// --mat-fab-disabled-state-container-color: rgba(27, 27, 31, 0.12);
// --mat-fab-disabled-state-foreground-color: rgba(27, 27, 31, 0.38);
// --mat-fab-touch-target-display: block;
// --mat-fab-small-foreground-color: #00006e;
// --mat-fab-small-state-layer-color: #00006e;
// --mat-fab-small-ripple-color: rgba(0, 0, 110, 0.12);
// --mat-fab-small-hover-state-layer-opacity: 0.08;
// --mat-fab-small-focus-state-layer-opacity: 0.12;
// --mat-fab-small-pressed-state-layer-opacity: 0.12;
// --mat-fab-small-disabled-state-container-color: rgba(27, 27, 31, 0.12);
// --mat-fab-small-disabled-state-foreground-color: rgba(27, 27, 31, 0.38);
// --mat-button-toggle-hover-state-layer-opacity: 0.08;
// --mat-button-toggle-focus-state-layer-opacity: 0.12;
// --mat-button-toggle-text-color: #1b1b1f;
// --mat-button-toggle-state-layer-color: #1b1b1f;
// --mat-button-toggle-selected-state-background-color: #e1e0f9;
// --mat-button-toggle-selected-state-text-color: #191a2c;
// --mat-button-toggle-disabled-state-text-color: rgba(27, 27, 31, 0.38);
// --mat-button-toggle-disabled-selected-state-text-color: rgba(27, 27, 31, 0.38);
// --mat-button-toggle-disabled-selected-state-background-color: rgba(27, 27, 31, 0.12);
// --mat-button-toggle-divider-color: #777680;
// --mat-button-toggle-label-text-font: Arial, Verdana, Tahoma, sans-serif;
// --mat-button-toggle-label-text-line-height: 1.25rem;
// --mat-button-toggle-label-text-size: 0.875rem;
// --mat-button-toggle-label-text-tracking: 0.006rem;
// --mat-button-toggle-label-text-weight: 700;
// --mat-button-toggle-height: 40px;
// --mat-button-toggle-shape: 9999px;
// --mat-button-toggle-background-color: transparent;
// --mat-button-toggle-disabled-state-background-color: transparent;
// }
