:root {
  --mat-dialog-container-max-width: 100%;
  --mat-dialog-container-small-max-width: 100%;
  --mat-dialog-container-shape: 0.5rem;
}

// use <mat-dialog-actions [align]="end">
// .mat-mdc-dialog-actions {
//   justify-content: flex-end;
// }

// :root {
//   --mat-dialog-container-color: #fffbfd;
//   --mat-dialog-subhead-color: #1b1b1f;
//   --mat-dialog-supporting-text-color: #46464f;
//   --mat-dialog-subhead-font: Arial, Verdana, Tahoma, sans-serif;
//   --mat-dialog-subhead-line-height: 2rem;
//   --mat-dialog-subhead-size: 1.5rem;
//   --mat-dialog-subhead-weight: 400;
//   --mat-dialog-subhead-tracking: 0rem;
//   --mat-dialog-supporting-text-font: Arial, Verdana, Tahoma, sans-serif;
//   --mat-dialog-supporting-text-line-height: 1.25rem;
//   --mat-dialog-supporting-text-size: 0.875rem;
//   --mat-dialog-supporting-text-weight: 400;
//   --mat-dialog-supporting-text-tracking: 0.016rem;
//   --mat-dialog-container-shape: 28px;
//   --mat-dialog-container-elevation-shadow: none;
//   --mat-dialog-container-max-width: 560px;
//   --mat-dialog-container-small-max-width: calc(100vw - 32px);
//   --mat-dialog-container-min-width: 280px;
//   --mat-dialog-actions-alignment: flex-end;
//   --mat-dialog-actions-padding: 16px 24px;
//   --mat-dialog-content-padding: 20px 24px;
//   --mat-dialog-with-actions-content-padding: 20px 24px 0;
//   --mat-dialog-headline-padding: 6px 24px 13px;
// }
