<h1>Colors</h1>

<h2>App Colors</h2>

<p>
  These are the colors I want my app to use. To put it another way, this is the color palette that
  my customer requires me to use.
</p>

<div class="row flex-wrap">
  <div class="col mrl0-5">
    <h3>Gray</h3>

    <div class="row color color-000000">color-000000</div>
    <div class="row color color-00000040">color-00000040</div>
    <div class="row color color-00000033">color-00000033</div>
    <div class="row color color-333333">color-333333</div>
    <div class="row color color-ffffff">color-ffffff</div>
  </div>

  <div class="col mrl0-5">
    <h3>Primary</h3>

    <div class="row color color-004382">color-004382</div>
    <div class="row color color-0160ce">color-0160ce</div>
    <div class="row color color-0a2240">color-0a2240</div>
  </div>

  <div class="col mrl0-5">
    <h3>Secondary</h3>

    <div class="row color color-60606e">color-60606e</div>
    <div class="row color color-e4e5ee">color-e4e5ee</div>
    <div class="row color color-f6f8fb">color-f6f8fb</div>
  </div>

  <div class="col mrl0-5">
    <h3>Success</h3>

    <div class="row color color-217232">color-217232</div>
    <div class="row color color-9dbda4">color-9dbda4</div>
    <div class="row color color-c5d6c8">color-c5d6c8</div>
  </div>

  <div class="col mrl0-5">
    <h3>Error</h3>

    <div class="row color color-b10a24">color-b10a24</div>
    <div class="row color color-d7949f">color-d7949f</div>
    <div class="row color color-e3c0c5">color-e3c0c5</div>
  </div>

  <div class="col mrl0-5">
    <h3>Warning</h3>

    <div class="row color color-ba4d07">color-ba4d07</div>
    <div class="row color color-daae92">color-daae92</div>
    <div class="row color color-e4cec0">color-e4cec0</div>
  </div>

  <div class="col mrl0-5">
    <h3>Info</h3>

    <div class="row color color-015a89">color-015a89</div>
    <div class="row color color-90b4c7">color-90b4c7</div>
    <div class="row color color-bed0da">color-bed0da</div>
  </div>

  <div class="col mrl0-5">
    <h3>Other</h3>

    <div class="row color color-f2f9ff">color-f2f9ff</div>
    <div class="row color color-f9f9f9">color-f9f9f9</div>
    <div class="row color color-f6f8fb">color-f6f8fb</div>
    <div class="row color color-ffff00">color-ffff00</div>
    <div class="row color color-3333ff">color-3333ff</div>
  </div>
</div>

<hr />

<h2>Material Theme</h2>

<p>
  This is the Angular Material generated theme. I have analyzed what colors from the material theme
  are actually used in the generated css. All unused (or undetected) colors have been assigned a
  different shade of magenta, so they can be uniquely identified. If you see any magenta color
  showing up in the components, then you know a color was undetected by my script...
</p>

<!-- StartMaterialThemeColors -->

  <div class="row flex-wrap">
<div class="col mrl0-5"><h3>primary</h3><div class="row color" style="background: #000000">
      <span style="background: #ffffff66">0: #000000</span>
    </div><div class="row color" style="background: #00006e">
      <span style="background: #ffffff66">10: #00006e</span>
    </div><div class="row color" style="background: #ff00fd">
      <span style="background: #ffffff66">20: #ff00fd</span>
    </div><div class="row color" style="background: #ff00fc">
      <span style="background: #ffffff66">25: #ff00fc</span>
    </div><div class="row color" style="background: #ff00fb">
      <span style="background: #ffffff66">30: #ff00fb</span>
    </div><div class="row color" style="background: #ff00fa">
      <span style="background: #ffffff66">35: #ff00fa</span>
    </div><div class="row color" style="background: #004382">
      <span style="background: #ffffff66">40: #004382</span>
    </div><div class="row color" style="background: #ff00f8">
      <span style="background: #ffffff66">50: #ff00f8</span>
    </div><div class="row color" style="background: #ff00f7">
      <span style="background: #ffffff66">60: #ff00f7</span>
    </div><div class="row color" style="background: #ff00f6">
      <span style="background: #ffffff66">70: #ff00f6</span>
    </div><div class="row color" style="background: #bec2ff">
      <span style="background: #ffffff66">80: #bec2ff</span>
    </div><div class="row color" style="background: #e0e0ff">
      <span style="background: #ffffff66">90: #e0e0ff</span>
    </div><div class="row color" style="background: #ff00f3">
      <span style="background: #ffffff66">95: #ff00f3</span>
    </div><div class="row color" style="background: #ff00f2">
      <span style="background: #ffffff66">98: #ff00f2</span>
    </div><div class="row color" style="background: #ff00f1">
      <span style="background: #ffffff66">99: #ff00f1</span>
    </div><div class="row color" style="background: #ffffff">
      <span style="background: #ffffff66">100: #ffffff</span>
    </div></div><div class="col mrl0-5"><h3>secondary</h3><div class="row color" style="background: #ff01ff">
      <span style="background: #ffffff66">0: #ff01ff</span>
    </div><div class="row color" style="background: #191a2c">
      <span style="background: #ffffff66">10: #191a2c</span>
    </div><div class="row color" style="background: #ff01fd">
      <span style="background: #ffffff66">20: #ff01fd</span>
    </div><div class="row color" style="background: #ff01fc">
      <span style="background: #ffffff66">25: #ff01fc</span>
    </div><div class="row color" style="background: #ff01fb">
      <span style="background: #ffffff66">30: #ff01fb</span>
    </div><div class="row color" style="background: #ff01fa">
      <span style="background: #ffffff66">35: #ff01fa</span>
    </div><div class="row color" style="background: #60606e">
      <span style="background: #ffffff66">40: #60606e</span>
    </div><div class="row color" style="background: #ff01f8">
      <span style="background: #ffffff66">50: #ff01f8</span>
    </div><div class="row color" style="background: #ff01f7">
      <span style="background: #ffffff66">60: #ff01f7</span>
    </div><div class="row color" style="background: #ff01f6">
      <span style="background: #ffffff66">70: #ff01f6</span>
    </div><div class="row color" style="background: #ff01f5">
      <span style="background: #ffffff66">80: #ff01f5</span>
    </div><div class="row color" style="background: #e1e0f9">
      <span style="background: #ffffff66">90: #e1e0f9</span>
    </div><div class="row color" style="background: #ff01f3">
      <span style="background: #ffffff66">95: #ff01f3</span>
    </div><div class="row color" style="background: #ff01f2">
      <span style="background: #ffffff66">98: #ff01f2</span>
    </div><div class="row color" style="background: #ff01f1">
      <span style="background: #ffffff66">99: #ff01f1</span>
    </div><div class="row color" style="background: #fffffe">
      <span style="background: #ffffff66">100: #fffffe</span>
    </div></div><div class="col mrl0-5"><h3>neutral</h3><div class="row color" style="background: #000002">
      <span style="background: #ffffff66">0: #000002</span>
    </div><div class="row color" style="background: #ff02ef">
      <span style="background: #ffffff66">4: #ff02ef</span>
    </div><div class="row color" style="background: #ff02ee">
      <span style="background: #ffffff66">6: #ff02ee</span>
    </div><div class="row color" style="background: #1b1b1f">
      <span style="background: #ffffff66">10: #1b1b1f</span>
    </div><div class="row color" style="background: #ff02ed">
      <span style="background: #ffffff66">12: #ff02ed</span>
    </div><div class="row color" style="background: #ff02ec">
      <span style="background: #ffffff66">17: #ff02ec</span>
    </div><div class="row color" style="background: #303034">
      <span style="background: #ffffff66">20: #303034</span>
    </div><div class="row color" style="background: #ff02eb">
      <span style="background: #ffffff66">22: #ff02eb</span>
    </div><div class="row color" style="background: #ff02ea">
      <span style="background: #ffffff66">24: #ff02ea</span>
    </div><div class="row color" style="background: #ff02fc">
      <span style="background: #ffffff66">25: #ff02fc</span>
    </div><div class="row color" style="background: #ff02fb">
      <span style="background: #ffffff66">30: #ff02fb</span>
    </div><div class="row color" style="background: #ff02fa">
      <span style="background: #ffffff66">35: #ff02fa</span>
    </div><div class="row color" style="background: #ff02f9">
      <span style="background: #ffffff66">40: #ff02f9</span>
    </div><div class="row color" style="background: #ff02f8">
      <span style="background: #ffffff66">50: #ff02f8</span>
    </div><div class="row color" style="background: #ff02f7">
      <span style="background: #ffffff66">60: #ff02f7</span>
    </div><div class="row color" style="background: #ff02f6">
      <span style="background: #ffffff66">70: #ff02f6</span>
    </div><div class="row color" style="background: #ff02f5">
      <span style="background: #ffffff66">80: #ff02f5</span>
    </div><div class="row color" style="background: #ff02e9">
      <span style="background: #ffffff66">87: #ff02e9</span>
    </div><div class="row color" style="background: #ff02f4">
      <span style="background: #ffffff66">90: #ff02f4</span>
    </div><div class="row color" style="background: #ebe7ec">
      <span style="background: #ffffff66">92: #ebe7ec</span>
    </div><div class="row color" style="background: #f0ecf1">
      <span style="background: #ffffff66">94: #f0ecf1</span>
    </div><div class="row color" style="background: #f3eff4">
      <span style="background: #ffffff66">95: #f3eff4</span>
    </div><div class="row color" style="background: #f6f2f7">
      <span style="background: #ffffff66">96: #f6f2f7</span>
    </div><div class="row color" style="background: #fcf8fd">
      <span style="background: #ffffff66">98: #fcf8fd</span>
    </div><div class="row color" style="background: #ff02f1">
      <span style="background: #ffffff66">99: #ff02f1</span>
    </div><div class="row color" style="background: #ff02f0">
      <span style="background: #ffffff66">100: #ff02f0</span>
    </div></div><div class="col mrl0-5"><h3>neutralVariant</h3><div class="row color" style="background: #ff03ff">
      <span style="background: #ffffff66">0: #ff03ff</span>
    </div><div class="row color" style="background: #ff03fe">
      <span style="background: #ffffff66">10: #ff03fe</span>
    </div><div class="row color" style="background: #303038">
      <span style="background: #ffffff66">20: #303038</span>
    </div><div class="row color" style="background: #ff03fc">
      <span style="background: #ffffff66">25: #ff03fc</span>
    </div><div class="row color" style="background: #46464f">
      <span style="background: #ffffff66">30: #46464f</span>
    </div><div class="row color" style="background: #ff03fa">
      <span style="background: #ffffff66">35: #ff03fa</span>
    </div><div class="row color" style="background: #ff03f9">
      <span style="background: #ffffff66">40: #ff03f9</span>
    </div><div class="row color" style="background: #777680">
      <span style="background: #ffffff66">50: #777680</span>
    </div><div class="row color" style="background: #ff03f7">
      <span style="background: #ffffff66">60: #ff03f7</span>
    </div><div class="row color" style="background: #ff03f6">
      <span style="background: #ffffff66">70: #ff03f6</span>
    </div><div class="row color" style="background: #c7c5d0">
      <span style="background: #ffffff66">80: #c7c5d0</span>
    </div><div class="row color" style="background: #e4e1ec">
      <span style="background: #ffffff66">90: #e4e1ec</span>
    </div><div class="row color" style="background: #ff03f3">
      <span style="background: #ffffff66">95: #ff03f3</span>
    </div><div class="row color" style="background: #ff03f2">
      <span style="background: #ffffff66">98: #ff03f2</span>
    </div><div class="row color" style="background: #ff03f1">
      <span style="background: #ffffff66">99: #ff03f1</span>
    </div><div class="row color" style="background: #ff03f0">
      <span style="background: #ffffff66">100: #ff03f0</span>
    </div></div><div class="col mrl0-5"><h3>error</h3><div class="row color" style="background: #ff04ff">
      <span style="background: #ffffff66">0: #ff04ff</span>
    </div><div class="row color" style="background: #410002">
      <span style="background: #ffffff66">10: #410002</span>
    </div><div class="row color" style="background: #ff04fd">
      <span style="background: #ffffff66">20: #ff04fd</span>
    </div><div class="row color" style="background: #ff04fc">
      <span style="background: #ffffff66">25: #ff04fc</span>
    </div><div class="row color" style="background: #ff04fb">
      <span style="background: #ffffff66">30: #ff04fb</span>
    </div><div class="row color" style="background: #ff04fa">
      <span style="background: #ffffff66">35: #ff04fa</span>
    </div><div class="row color" style="background: #b10a24">
      <span style="background: #ffffff66">40: #b10a24</span>
    </div><div class="row color" style="background: #ff04f8">
      <span style="background: #ffffff66">50: #ff04f8</span>
    </div><div class="row color" style="background: #ff04f7">
      <span style="background: #ffffff66">60: #ff04f7</span>
    </div><div class="row color" style="background: #ff04f6">
      <span style="background: #ffffff66">70: #ff04f6</span>
    </div><div class="row color" style="background: #ff04f5">
      <span style="background: #ffffff66">80: #ff04f5</span>
    </div><div class="row color" style="background: #ffdad6">
      <span style="background: #ffffff66">90: #ffdad6</span>
    </div><div class="row color" style="background: #ff04f3">
      <span style="background: #ffffff66">95: #ff04f3</span>
    </div><div class="row color" style="background: #ff04f2">
      <span style="background: #ffffff66">98: #ff04f2</span>
    </div><div class="row color" style="background: #ff04f1">
      <span style="background: #ffffff66">99: #ff04f1</span>
    </div><div class="row color" style="background: #fffffb">
      <span style="background: #ffffff66">100: #fffffb</span>
    </div></div><div class="col mrl0-5">
<h3>tertiary</h3><div class="row color" style="background: #ff10ff">
      <span style="background: #ffffff66">0: #ff10ff</span>
    </div><div class="row color" style="background: #002020">
      <span style="background: #ffffff66">10: #002020</span>
    </div><div class="row color" style="background: #ff10fd">
      <span style="background: #ffffff66">20: #ff10fd</span>
    </div><div class="row color" style="background: #ff10fc">
      <span style="background: #ffffff66">25: #ff10fc</span>
    </div><div class="row color" style="background: #ff10fb">
      <span style="background: #ffffff66">30: #ff10fb</span>
    </div><div class="row color" style="background: #ff10fa">
      <span style="background: #ffffff66">35: #ff10fa</span>
    </div><div class="row color" style="background: #0160ce">
      <span style="background: #ffffff66">40: #0160ce</span>
    </div><div class="row color" style="background: #ff10f8">
      <span style="background: #ffffff66">50: #ff10f8</span>
    </div><div class="row color" style="background: #ff10f7">
      <span style="background: #ffffff66">60: #ff10f7</span>
    </div><div class="row color" style="background: #ff10f6">
      <span style="background: #ffffff66">70: #ff10f6</span>
    </div><div class="row color" style="background: #ff10f5">
      <span style="background: #ffffff66">80: #ff10f5</span>
    </div><div class="row color" style="background: #00fbfb">
      <span style="background: #ffffff66">90: #00fbfb</span>
    </div><div class="row color" style="background: #ff10f3">
      <span style="background: #ffffff66">95: #ff10f3</span>
    </div><div class="row color" style="background: #ff10f2">
      <span style="background: #ffffff66">98: #ff10f2</span>
    </div><div class="row color" style="background: #ff10f1">
      <span style="background: #ffffff66">99: #ff10f1</span>
    </div><div class="row color" style="background: #fffffa">
      <span style="background: #ffffff66">100: #fffffa</span>
    </div></div></div>
  <!-- EndMaterialThemeColors -->


<!-- <div class="row flex-wrap">
  <div class="col mrl0-5">
    <h3>Primary</h3>

    <div class="row color primary-0">Primary-0</div>
    <div class="row color primary-10">Primary-10</div>
    <div class="row color primary-20">Primary-20</div>
    <div class="row color primary-25">Primary-25</div>
    <div class="row color primary-30">Primary-30</div>
    <div class="row color primary-35">Primary-35</div>
    <div class="row color primary-40">Primary-40</div>
    <div class="row color primary-50">Primary-50</div>
    <div class="row color primary-60">Primary-60</div>
    <div class="row color primary-70">Primary-70</div>
    <div class="row color primary-80">Primary-80</div>
    <div class="row color primary-90">Primary-90</div>
    <div class="row color primary-95">Primary-95</div>
    <div class="row color primary-98">Primary-98</div>
    <div class="row color primary-99">Primary-99</div>
    <div class="row color primary-100">Primary-100</div>
  </div>

  <div class="col mrl0-5">
    <h3>Secondary</h3>

    <div class="row color secondary-0">Secondary-0</div>
    <div class="row color secondary-10">Secondary-10</div>
    <div class="row color secondary-20">Secondary-20</div>
    <div class="row color secondary-25">Secondary-25</div>
    <div class="row color secondary-30">Secondary-30</div>
    <div class="row color secondary-35">Secondary-35</div>
    <div class="row color secondary-40">Secondary-40</div>
    <div class="row color secondary-50">Secondary-50</div>
    <div class="row color secondary-60">Secondary-60</div>
    <div class="row color secondary-70">Secondary-70</div>
    <div class="row color secondary-80">Secondary-80</div>
    <div class="row color secondary-90">Secondary-90</div>
    <div class="row color secondary-95">Secondary-95</div>
    <div class="row color secondary-98">Secondary-98</div>
    <div class="row color secondary-99">Secondary-99</div>
    <div class="row color secondary-100">Secondary-100</div>
  </div>

  <div class="col mrl0-5">
    <h3>Tertiary</h3>

    <div class="row color tertiary-0">Tertiary-0</div>
    <div class="row color tertiary-10">Tertiary-10</div>
    <div class="row color tertiary-20">Tertiary-20</div>
    <div class="row color tertiary-25">Tertiary-25</div>
    <div class="row color tertiary-30">Tertiary-30</div>
    <div class="row color tertiary-35">Tertiary-35</div>
    <div class="row color tertiary-40">Tertiary-40</div>
    <div class="row color tertiary-50">Tertiary-50</div>
    <div class="row color tertiary-60">Tertiary-60</div>
    <div class="row color tertiary-70">Tertiary-70</div>
    <div class="row color tertiary-80">Tertiary-80</div>
    <div class="row color tertiary-90">Tertiary-90</div>
    <div class="row color tertiary-95">Tertiary-95</div>
    <div class="row color tertiary-98">Tertiary-98</div>
    <div class="row color tertiary-99">Tertiary-99</div>
    <div class="row color tertiary-100">Tertiary-100</div>
  </div>

  <div class="col mrl0-5">
    <h3>Error</h3>

    <div class="row color error-0">Error-0</div>
    <div class="row color error-10">Error-10</div>
    <div class="row color error-20">Error-20</div>
    <div class="row color error-25">Error-25</div>
    <div class="row color error-30">Error-30</div>
    <div class="row color error-35">Error-35</div>
    <div class="row color error-40">Error-40</div>
    <div class="row color error-50">Error-50</div>
    <div class="row color error-60">Error-60</div>
    <div class="row color error-70">Error-70</div>
    <div class="row color error-80">Error-80</div>
    <div class="row color error-90">Error-90</div>
    <div class="row color error-95">Error-95</div>
    <div class="row color error-98">Error-98</div>
    <div class="row color error-99">Error-99</div>
    <div class="row color error-100">Error-100</div>
  </div>

  <div class="col mrl0-5">
    <h3>Neutral</h3>

    <div class="row color neutral-0">Neutral-0</div>
    <div class="row color neutral-4">Neutral-4</div>
    <div class="row color neutral-6">Neutral-6</div>
    <div class="row color neutral-10">Neutral-10</div>
    <div class="row color neutral-12">Neutral-12</div>
    <div class="row color neutral-17">Neutral-17</div>
    <div class="row color neutral-20">Neutral-20</div>
    <div class="row color neutral-22">Neutral-22</div>
    <div class="row color neutral-24">Neutral-24</div>
    <div class="row color neutral-25">Neutral-25</div>
    <div class="row color neutral-30">Neutral-30</div>
    <div class="row color neutral-35">Neutral-35</div>
    <div class="row color neutral-40">Neutral-40</div>
    <div class="row color neutral-50">Neutral-50</div>
    <div class="row color neutral-60">Neutral-60</div>
    <div class="row color neutral-70">Neutral-70</div>
    <div class="row color neutral-80">Neutral-80</div>
    <div class="row color neutral-87">Neutral-87</div>
    <div class="row color neutral-90">Neutral-90</div>
    <div class="row color neutral-92">Neutral-92</div>
    <div class="row color neutral-94">Neutral-94</div>
    <div class="row color neutral-95">Neutral-95</div>
    <div class="row color neutral-96">Neutral-96</div>
    <div class="row color neutral-98">Neutral-98</div>
    <div class="row color neutral-99">Neutral-99</div>
    <div class="row color neutral-100">Neutral-100</div>
  </div>

  <div class="col mrl0-5">
    <h3>Neutral Variant</h3>

    <div class="row color neutral-variant-0">Neutral-Variant-0</div>
    <div class="row color neutral-variant-10">Neutral-Variant-10</div>
    <div class="row color neutral-variant-20">Neutral-Variant-20</div>
    <div class="row color neutral-variant-25">Neutral-Variant-25</div>
    <div class="row color neutral-variant-30">Neutral-Variant-30</div>
    <div class="row color neutral-variant-35">Neutral-Variant-35</div>
    <div class="row color neutral-variant-40">Neutral-Variant-40</div>
    <div class="row color neutral-variant-50">Neutral-Variant-50</div>
    <div class="row color neutral-variant-60">Neutral-Variant-60</div>
    <div class="row color neutral-variant-70">Neutral-Variant-70</div>
    <div class="row color neutral-variant-80">Neutral-Variant-80</div>
    <div class="row color neutral-variant-90">Neutral-Variant-90</div>
    <div class="row color neutral-variant-95">Neutral-Variant-95</div>
    <div class="row color neutral-variant-98">Neutral-Variant-98</div>
    <div class="row color neutral-variant-99">Neutral-Variant-99</div>
    <div class="row color neutral-variant-100">Neutral-Variant-100</div>
  </div>
</div> -->

<hr />

<h2>Applied Theme Colors</h2>

<p>
  These are the actual colors that are found in the generated css. Some theme colors are used
  directly, and others are given opacities.
</p>

<p>
  It's worth noting that the colors with opacities appear in rgba form in the css. I have converted
  them to hex format to make it easier to identify which theme color they are based on.
</p>

<!-- StartCSSColors --><h4>primary.primary</h4>
    <div class="row flex-wrap mb1"><div class="col mrl0-5"><div>primary.primary.0</div><div class="row color" style="background: #0000001a">
      <span style="background: #ffffff66">#0000001a</span>
    </div><div class="row color" style="background: #0000001f">
      <span style="background: #ffffff66">#0000001f</span>
    </div><div class="row color" style="background: #00000024">
      <span style="background: #ffffff66">#00000024</span>
    </div><div class="row color" style="background: #00000033">
      <span style="background: #ffffff66">#00000033</span>
    </div><div class="row color" style="background: #00000052">
      <span style="background: #ffffff66">#00000052</span>
    </div></div><div class="col mrl0-5"><div>primary.primary.10</div><div class="row color" style="background: #00006e">
      <span style="background: #ffffff66">#00006e</span>
    </div><div class="row color" style="background: #00006e1f">
      <span style="background: #ffffff66">#00006e1f</span>
    </div></div><div class="col mrl0-5"><div>primary.primary.40</div><div class="row color" style="background: #004382">
      <span style="background: #ffffff66">#004382</span>
    </div><div class="row color" style="background: #0043820d">
      <span style="background: #ffffff66">#0043820d</span>
    </div><div class="row color" style="background: #0043821f">
      <span style="background: #ffffff66">#0043821f</span>
    </div><div class="row color" style="background: #00438233">
      <span style="background: #ffffff66">#00438233</span>
    </div><div class="row color" style="background: #00438261">
      <span style="background: #ffffff66">#00438261</span>
    </div></div><div class="col mrl0-5"><div>primary.primary.80</div><div class="row color" style="background: #bec2ff">
      <span style="background: #ffffff66">#bec2ff</span>
    </div></div><div class="col mrl0-5"><div>primary.primary.90</div><div class="row color" style="background: #e0e0ff">
      <span style="background: #ffffff66">#e0e0ff</span>
    </div></div><div class="col mrl0-5"><div>primary.primary.100</div><div class="row color" style="background: #ffffff">
      <span style="background: #ffffff66">#ffffff</span>
    </div><div class="row color" style="background: #ffffff1f">
      <span style="background: #ffffff66">#ffffff1f</span>
    </div></div></div><h4>primary.secondary</h4>
    <div class="row flex-wrap mb1"><div class="col mrl0-5"><div>primary.secondary.10</div><div class="row color" style="background: #191a2c">
      <span style="background: #ffffff66">#191a2c</span>
    </div><div class="row color" style="background: #191a2c1f">
      <span style="background: #ffffff66">#191a2c1f</span>
    </div></div><div class="col mrl0-5"><div>primary.secondary.40</div><div class="row color" style="background: #60606e">
      <span style="background: #ffffff66">#60606e</span>
    </div><div class="row color" style="background: #60606e0d">
      <span style="background: #ffffff66">#60606e0d</span>
    </div><div class="row color" style="background: #60606e1f">
      <span style="background: #ffffff66">#60606e1f</span>
    </div><div class="row color" style="background: #60606e33">
      <span style="background: #ffffff66">#60606e33</span>
    </div><div class="row color" style="background: #60606e61">
      <span style="background: #ffffff66">#60606e61</span>
    </div></div><div class="col mrl0-5"><div>primary.secondary.90</div><div class="row color" style="background: #e1e0f9">
      <span style="background: #ffffff66">#e1e0f9</span>
    </div></div><div class="col mrl0-5"><div>primary.secondary.100</div><div class="row color" style="background: #fffffe">
      <span style="background: #ffffff66">#fffffe</span>
    </div><div class="row color" style="background: #fffffe1f">
      <span style="background: #ffffff66">#fffffe1f</span>
    </div></div></div><h4>tertiary.primary</h4>
    <div class="row flex-wrap mb1"><div class="col mrl0-5"><div>tertiary.primary.10</div><div class="row color" style="background: #002020">
      <span style="background: #ffffff66">#002020</span>
    </div><div class="row color" style="background: #0020201f">
      <span style="background: #ffffff66">#0020201f</span>
    </div></div><div class="col mrl0-5"><div>tertiary.primary.90</div><div class="row color" style="background: #00fbfb">
      <span style="background: #ffffff66">#00fbfb</span>
    </div></div><div class="col mrl0-5"><div>tertiary.primary.40</div><div class="row color" style="background: #0160ce">
      <span style="background: #ffffff66">#0160ce</span>
    </div><div class="row color" style="background: #0160ce0d">
      <span style="background: #ffffff66">#0160ce0d</span>
    </div><div class="row color" style="background: #0160ce1f">
      <span style="background: #ffffff66">#0160ce1f</span>
    </div><div class="row color" style="background: #0160ce33">
      <span style="background: #ffffff66">#0160ce33</span>
    </div><div class="row color" style="background: #0160ce61">
      <span style="background: #ffffff66">#0160ce61</span>
    </div></div><div class="col mrl0-5"><div>tertiary.primary.100</div><div class="row color" style="background: #fffffa">
      <span style="background: #ffffff66">#fffffa</span>
    </div><div class="row color" style="background: #fffffa1f">
      <span style="background: #ffffff66">#fffffa1f</span>
    </div></div></div><h4>primary.error</h4>
    <div class="row flex-wrap mb1"><div class="col mrl0-5"><div>primary.error.10</div><div class="row color" style="background: #410002">
      <span style="background: #ffffff66">#410002</span>
    </div></div><div class="col mrl0-5"><div>primary.error.40</div><div class="row color" style="background: #b10a24">
      <span style="background: #ffffff66">#b10a24</span>
    </div><div class="row color" style="background: #b10a240d">
      <span style="background: #ffffff66">#b10a240d</span>
    </div><div class="row color" style="background: #b10a241f">
      <span style="background: #ffffff66">#b10a241f</span>
    </div><div class="row color" style="background: #b10a2433">
      <span style="background: #ffffff66">#b10a2433</span>
    </div><div class="row color" style="background: #b10a2461">
      <span style="background: #ffffff66">#b10a2461</span>
    </div></div><div class="col mrl0-5"><div>primary.error.90</div><div class="row color" style="background: #ffdad6">
      <span style="background: #ffffff66">#ffdad6</span>
    </div></div><div class="col mrl0-5"><div>primary.error.100</div><div class="row color" style="background: #fffffb">
      <span style="background: #ffffff66">#fffffb</span>
    </div><div class="row color" style="background: #fffffb1f">
      <span style="background: #ffffff66">#fffffb1f</span>
    </div></div></div><h4>primary.neutral.</h4>
    <div class="row flex-wrap mb1"><div class="col mrl0-5"><div>primary.neutral.0</div><div class="row color" style="background: #0000021f">
      <span style="background: #ffffff66">#0000021f</span>
    </div><div class="row color" style="background: #00000224">
      <span style="background: #ffffff66">#00000224</span>
    </div><div class="row color" style="background: #00000233">
      <span style="background: #ffffff66">#00000233</span>
    </div></div><div class="col mrl0-5"><div>primary.neutral.10</div><div class="row color" style="background: #1b1b1f">
      <span style="background: #ffffff66">#1b1b1f</span>
    </div><div class="row color" style="background: #1b1b1f0a">
      <span style="background: #ffffff66">#1b1b1f0a</span>
    </div><div class="row color" style="background: #1b1b1f14">
      <span style="background: #ffffff66">#1b1b1f14</span>
    </div><div class="row color" style="background: #1b1b1f1a">
      <span style="background: #ffffff66">#1b1b1f1a</span>
    </div><div class="row color" style="background: #1b1b1f1f">
      <span style="background: #ffffff66">#1b1b1f1f</span>
    </div><div class="row color" style="background: #1b1b1f61">
      <span style="background: #ffffff66">#1b1b1f61</span>
    </div></div><div class="col mrl0-5"><div>primary.neutral.20</div><div class="row color" style="background: #303034">
      <span style="background: #ffffff66">#303034</span>
    </div><div class="row color" style="background: #30303414">
      <span style="background: #ffffff66">#30303414</span>
    </div><div class="row color" style="background: #3030341f">
      <span style="background: #ffffff66">#3030341f</span>
    </div></div><div class="col mrl0-5"><div>primary.neutral.92</div><div class="row color" style="background: #ebe7ec">
      <span style="background: #ffffff66">#ebe7ec</span>
    </div></div><div class="col mrl0-5"><div>primary.neutral.94</div><div class="row color" style="background: #f0ecf1">
      <span style="background: #ffffff66">#f0ecf1</span>
    </div></div><div class="col mrl0-5"><div>primary.neutral.95</div><div class="row color" style="background: #f3eff4">
      <span style="background: #ffffff66">#f3eff4</span>
    </div></div><div class="col mrl0-5"><div>primary.neutral.96</div><div class="row color" style="background: #f6f2f7">
      <span style="background: #ffffff66">#f6f2f7</span>
    </div></div><div class="col mrl0-5"><div>primary.neutral.98</div><div class="row color" style="background: #fcf8fd">
      <span style="background: #ffffff66">#fcf8fd</span>
    </div></div></div><h4>primary.neutralVariant</h4>
    <div class="row flex-wrap mb1"><div class="col mrl0-5"><div>primary.neutralVariant.20</div><div class="row color" style="background: #30303866">
      <span style="background: #ffffff66">#30303866</span>
    </div></div><div class="col mrl0-5"><div>primary.neutralVariant.30</div><div class="row color" style="background: #46464f">
      <span style="background: #ffffff66">#46464f</span>
    </div><div class="row color" style="background: #46464f1f">
      <span style="background: #ffffff66">#46464f1f</span>
    </div></div><div class="col mrl0-5"><div>primary.neutralVariant.50</div><div class="row color" style="background: #777680">
      <span style="background: #ffffff66">#777680</span>
    </div></div><div class="col mrl0-5"><div>primary.neutralVariant.80</div><div class="row color" style="background: #c7c5d0">
      <span style="background: #ffffff66">#c7c5d0</span>
    </div></div><div class="col mrl0-5"><div>primary.neutralVariant.90</div><div class="row color" style="background: #e4e1ec">
      <span style="background: #ffffff66">#e4e1ec</span>
    </div></div></div><!-- EndCSSColors -->


<!-- <div class="row flex-wrap">
  <div class="col mrl0-5"></div>
  <div class="col mrl0-5">
    <div class="row color" style="background: #0000001a">
      <span style="background: #ffffff66">#0000001a</span>
    </div>
    <div class="row color" style="background: #0000001f">
      <span style="background: #ffffff66">#0000001f</span>
    </div>
    <div class="row color" style="background: #00000024">
      <span style="background: #ffffff66">#00000024</span>
    </div>
    <div class="row color" style="background: #00000033">
      <span style="background: #ffffff66">#00000033</span>
    </div>
    <div class="row color" style="background: #00000052">
      <span style="background: #ffffff66">#00000052</span>
    </div>
    <div class="row color" style="background: #0000021f">
      <span style="background: #ffffff66">#0000021f</span>
    </div>
    <div class="row color" style="background: #00000224">
      <span style="background: #ffffff66">#00000224</span>
    </div>
    <div class="row color" style="background: #00000233">
      <span style="background: #ffffff66">#00000233</span>
    </div>
    <div class="row color" style="background: #00006e">
      <span style="background: #ffffff66">#00006e</span>
    </div>
    <div class="row color" style="background: #00006e1f">
      <span style="background: #ffffff66">#00006e1f</span>
    </div>
  </div>
  <div class="col mrl0-5">
    <div class="row color" style="background: #002020">
      <span style="background: #ffffff66">#002020</span>
    </div>
    <div class="row color" style="background: #0020201f">
      <span style="background: #ffffff66">#0020201f</span>
    </div>
    <div class="row color" style="background: #006a6a">
      <span style="background: #ffffff66">#006a6a</span>
    </div>
    <div class="row color" style="background: #006a6a0d">
      <span style="background: #ffffff66">#006a6a0d</span>
    </div>
    <div class="row color" style="background: #006a6a1f">
      <span style="background: #ffffff66">#006a6a1f</span>
    </div>
    <div class="row color" style="background: #006a6a33">
      <span style="background: #ffffff66">#006a6a33</span>
    </div>
    <div class="row color" style="background: #006a6a61">
      <span style="background: #ffffff66">#006a6a61</span>
    </div>
    <div class="row color" style="background: #00fbfb">
      <span style="background: #ffffff66">#00fbfb</span>
    </div>
    <div class="row color" style="background: #191a2c">
      <span style="background: #ffffff66">#191a2c</span>
    </div>
    <div class="row color" style="background: #191a2c1f">
      <span style="background: #ffffff66">#191a2c1f</span>
    </div>
  </div>
  <div class="col mrl0-5">
    <div class="row color" style="background: #1b1b1f">
      <span style="background: #ffffff66">#1b1b1f</span>
    </div>
    <div class="row color" style="background: #1b1b1f0a">
      <span style="background: #ffffff66">#1b1b1f0a</span>
    </div>
    <div class="row color" style="background: #1b1b1f14">
      <span style="background: #ffffff66">#1b1b1f14</span>
    </div>
    <div class="row color" style="background: #1b1b1f1a">
      <span style="background: #ffffff66">#1b1b1f1a</span>
    </div>
    <div class="row color" style="background: #1b1b1f1f">
      <span style="background: #ffffff66">#1b1b1f1f</span>
    </div>
    <div class="row color" style="background: #1b1b1f61">
      <span style="background: #ffffff66">#1b1b1f61</span>
    </div>
    <div class="row color" style="background: #303034">
      <span style="background: #ffffff66">#303034</span>
    </div>
    <div class="row color" style="background: #30303414">
      <span style="background: #ffffff66">#30303414</span>
    </div>
    <div class="row color" style="background: #3030341f">
      <span style="background: #ffffff66">#3030341f</span>
    </div>
    <div class="row color" style="background: #30303866">
      <span style="background: #ffffff66">#30303866</span>
    </div>
  </div>
  <div class="col mrl0-5">
    <div class="row color" style="background: #343dff">
      <span style="background: #ffffff66">#343dff</span>
    </div>
    <div class="row color" style="background: #343dff0d">
      <span style="background: #ffffff66">#343dff0d</span>
    </div>
    <div class="row color" style="background: #343dff1f">
      <span style="background: #ffffff66">#343dff1f</span>
    </div>
    <div class="row color" style="background: #343dff33">
      <span style="background: #ffffff66">#343dff33</span>
    </div>
    <div class="row color" style="background: #343dff61">
      <span style="background: #ffffff66">#343dff61</span>
    </div>
    <div class="row color" style="background: #410002">
      <span style="background: #ffffff66">#410002</span>
    </div>
    <div class="row color" style="background: #46464f">
      <span style="background: #ffffff66">#46464f</span>
    </div>
    <div class="row color" style="background: #46464f1f">
      <span style="background: #ffffff66">#46464f1f</span>
    </div>
    <div class="row color" style="background: #5c5d72">
      <span style="background: #ffffff66">#5c5d72</span>
    </div>
    <div class="row color" style="background: #5c5d720d">
      <span style="background: #ffffff66">#5c5d720d</span>
    </div>
  </div>
  <div class="col mrl0-5">
    <div class="row color" style="background: #5c5d721f">
      <span style="background: #ffffff66">#5c5d721f</span>
    </div>
    <div class="row color" style="background: #5c5d7233">
      <span style="background: #ffffff66">#5c5d7233</span>
    </div>
    <div class="row color" style="background: #5c5d7261">
      <span style="background: #ffffff66">#5c5d7261</span>
    </div>
    <div class="row color" style="background: #777680">
      <span style="background: #ffffff66">#777680</span>
    </div>
    <div class="row color" style="background: #ba1a1a">
      <span style="background: #ffffff66">#ba1a1a</span>
    </div>
    <div class="row color" style="background: #ba1a1a0d">
      <span style="background: #ffffff66">#ba1a1a0d</span>
    </div>
    <div class="row color" style="background: #ba1a1a1f">
      <span style="background: #ffffff66">#ba1a1a1f</span>
    </div>
    <div class="row color" style="background: #ba1a1a33">
      <span style="background: #ffffff66">#ba1a1a33</span>
    </div>
    <div class="row color" style="background: #ba1a1a61">
      <span style="background: #ffffff66">#ba1a1a61</span>
    </div>
    <div class="row color" style="background: #bec2ff">
      <span style="background: #ffffff66">#bec2ff</span>
    </div>
  </div>
  <div class="col mrl0-5">
    <div class="row color" style="background: #c7c5d0">
      <span style="background: #ffffff66">#c7c5d0</span>
    </div>
    <div class="row color" style="background: #e0e0ff">
      <span style="background: #ffffff66">#e0e0ff</span>
    </div>
    <div class="row color" style="background: #e1e0f9">
      <span style="background: #ffffff66">#e1e0f9</span>
    </div>
    <div class="row color" style="background: #e4e1ec">
      <span style="background: #ffffff66">#e4e1ec</span>
    </div>
    <div class="row color" style="background: #ebe7ec">
      <span style="background: #ffffff66">#ebe7ec</span>
    </div>
    <div class="row color" style="background: #f0ecf1">
      <span style="background: #ffffff66">#f0ecf1</span>
    </div>
    <div class="row color" style="background: #f3eff4">
      <span style="background: #ffffff66">#f3eff4</span>
    </div>
    <div class="row color" style="background: #f6f2f7">
      <span style="background: #ffffff66">#f6f2f7</span>
    </div>
    <div class="row color" style="background: #fcf8fd">
      <span style="background: #ffffff66">#fcf8fd</span>
    </div>
    <div class="row color" style="background: #ffdad6">
      <span style="background: #ffffff66">#ffdad6</span>
    </div>
  </div>
  <div class="col mrl0-5">
    <div class="row color" style="background: #fffffa">
      <span style="background: #ffffff66">#fffffa</span>
    </div>
    <div class="row color" style="background: #fffffa1f">
      <span style="background: #ffffff66">#fffffa1f</span>
    </div>
    <div class="row color" style="background: #fffffb">
      <span style="background: #ffffff66">#fffffb</span>
    </div>
    <div class="row color" style="background: #fffffb1f">
      <span style="background: #ffffff66">#fffffb1f</span>
    </div>
    <div class="row color" style="background: #fffffe">
      <span style="background: #ffffff66">#fffffe</span>
    </div>
    <div class="row color" style="background: #fffffe1f">
      <span style="background: #ffffff66">#fffffe1f</span>
    </div>
    <div class="row color" style="background: #ffffff">
      <span style="background: #ffffff66">#ffffff</span>
    </div>
    <div class="row color" style="background: #ffffff1f">
      <span style="background: #ffffff66">#ffffff1f</span>
    </div>
  </div>
</div> -->
