@use '@angular/material' as mat;
@use 'material-theme/_ui-theme.scss' as ui-theme;

.page {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  @if mat.get-theme-type(ui-theme.$ui-theme) == dark {
    background-color: mat.get-theme-color(ui-theme.$ui-theme, neutral, 0);
  } @else {
  }
}

.page-header {
}

.page-content {
}
