<h1>Material Theme</h1>

<hr />

<h2>Colors</h2>

<div class="row flex-wrap">
  <div class="col mrl0-5">
    <h3>Primary</h3>

    <div class="row color primary-0">Primary-0</div>
    <div class="row color primary-10">Primary-10</div>
    <div class="row color primary-20">Primary-20</div>
    <div class="row color primary-25">Primary-25</div>
    <div class="row color primary-30">Primary-30</div>
    <div class="row color primary-35">Primary-35</div>
    <div class="row color primary-40">Primary-40</div>
    <div class="row color primary-50">Primary-50</div>
    <div class="row color primary-60">Primary-60</div>
    <div class="row color primary-70">Primary-70</div>
    <div class="row color primary-80">Primary-80</div>
    <div class="row color primary-90">Primary-90</div>
    <div class="row color primary-95">Primary-95</div>
    <div class="row color primary-98">Primary-98</div>
    <div class="row color primary-99">Primary-99</div>
    <div class="row color primary-100">Primary-100</div>
  </div>

  <div class="col mrl0-5">
    <h3>Secondary</h3>

    <div class="row color secondary-0">Secondary-0</div>
    <div class="row color secondary-10">Secondary-10</div>
    <div class="row color secondary-20">Secondary-20</div>
    <div class="row color secondary-25">Secondary-25</div>
    <div class="row color secondary-30">Secondary-30</div>
    <div class="row color secondary-35">Secondary-35</div>
    <div class="row color secondary-40">Secondary-40</div>
    <div class="row color secondary-50">Secondary-50</div>
    <div class="row color secondary-60">Secondary-60</div>
    <div class="row color secondary-70">Secondary-70</div>
    <div class="row color secondary-80">Secondary-80</div>
    <div class="row color secondary-90">Secondary-90</div>
    <div class="row color secondary-95">Secondary-95</div>
    <div class="row color secondary-98">Secondary-98</div>
    <div class="row color secondary-99">Secondary-99</div>
    <div class="row color secondary-100">Secondary-100</div>
  </div>

  <div class="col mrl0-5">
    <h3>Tertiary</h3>

    <div class="row color tertiary-0">Tertiary-0</div>
    <div class="row color tertiary-10">Tertiary-10</div>
    <div class="row color tertiary-20">Tertiary-20</div>
    <div class="row color tertiary-25">Tertiary-25</div>
    <div class="row color tertiary-30">Tertiary-30</div>
    <div class="row color tertiary-35">Tertiary-35</div>
    <div class="row color tertiary-40">Tertiary-40</div>
    <div class="row color tertiary-50">Tertiary-50</div>
    <div class="row color tertiary-60">Tertiary-60</div>
    <div class="row color tertiary-70">Tertiary-70</div>
    <div class="row color tertiary-80">Tertiary-80</div>
    <div class="row color tertiary-90">Tertiary-90</div>
    <div class="row color tertiary-95">Tertiary-95</div>
    <div class="row color tertiary-98">Tertiary-98</div>
    <div class="row color tertiary-99">Tertiary-99</div>
    <div class="row color tertiary-100">Tertiary-100</div>
  </div>

  <div class="col mrl0-5">
    <h3>Error</h3>

    <div class="row color error-0">Error-0</div>
    <div class="row color error-10">Error-10</div>
    <div class="row color error-20">Error-20</div>
    <div class="row color error-25">Error-25</div>
    <div class="row color error-30">Error-30</div>
    <div class="row color error-35">Error-35</div>
    <div class="row color error-40">Error-40</div>
    <div class="row color error-50">Error-50</div>
    <div class="row color error-60">Error-60</div>
    <div class="row color error-70">Error-70</div>
    <div class="row color error-80">Error-80</div>
    <div class="row color error-90">Error-90</div>
    <div class="row color error-95">Error-95</div>
    <div class="row color error-98">Error-98</div>
    <div class="row color error-99">Error-99</div>
    <div class="row color error-100">Error-100</div>
  </div>

  <div class="col mrl0-5">
    <h3>Neutral</h3>

    <div class="row color neutral-0">Neutral-0</div>
    <div class="row color neutral-10">Neutral-10</div>
    <div class="row color neutral-20">Neutral-20</div>
    <div class="row color neutral-25">Neutral-25</div>
    <div class="row color neutral-30">Neutral-30</div>
    <div class="row color neutral-35">Neutral-35</div>
    <div class="row color neutral-40">Neutral-40</div>
    <div class="row color neutral-50">Neutral-50</div>
    <div class="row color neutral-60">Neutral-60</div>
    <div class="row color neutral-70">Neutral-70</div>
    <div class="row color neutral-80">Neutral-80</div>
    <div class="row color neutral-90">Neutral-90</div>
    <div class="row color neutral-95">Neutral-95</div>
    <div class="row color neutral-98">Neutral-98</div>
    <div class="row color neutral-99">Neutral-99</div>
    <div class="row color neutral-100">Neutral-100</div>
  </div>

  <div class="col mrl0-5">
    <h3>Neutral Variant</h3>

    <div class="row color neutral-variant-0">Neutral-Variant-0</div>
    <div class="row color neutral-variant-10">Neutral-Variant-10</div>
    <div class="row color neutral-variant-20">Neutral-Variant-20</div>
    <div class="row color neutral-variant-25">Neutral-Variant-25</div>
    <div class="row color neutral-variant-30">Neutral-Variant-30</div>
    <div class="row color neutral-variant-35">Neutral-Variant-35</div>
    <div class="row color neutral-variant-40">Neutral-Variant-40</div>
    <div class="row color neutral-variant-50">Neutral-Variant-50</div>
    <div class="row color neutral-variant-60">Neutral-Variant-60</div>
    <div class="row color neutral-variant-70">Neutral-Variant-70</div>
    <div class="row color neutral-variant-80">Neutral-Variant-80</div>
    <div class="row color neutral-variant-90">Neutral-Variant-90</div>
    <div class="row color neutral-variant-95">Neutral-Variant-95</div>
    <div class="row color neutral-variant-98">Neutral-Variant-98</div>
    <div class="row color neutral-variant-99">Neutral-Variant-99</div>
    <div class="row color neutral-variant-100">Neutral-Variant-100</div>
  </div>
</div>

<hr />

<h2>Typography</h2>

<div class="col">
  <div class="typography mat-display-large">mat-display-large {{ loremIpsum }}</div>
  <div class="typography mat-display-medium">mat-display-medium {{ loremIpsum }}</div>
  <div class="typography mat-display-small">mat-display-small {{ loremIpsum }}</div>
  <div class="typography mat-headline-large">mat-headline-large {{ loremIpsum }}</div>
  <div class="typography mat-headline-medium">mat-headline-medium {{ loremIpsum }}</div>
  <div class="typography mat-headline-small">mat-headline-small {{ loremIpsum }}</div>
  <div class="typography mat-title-large">mat-title-large {{ loremIpsum }}</div>
  <div class="typography mat-title-medium">mat-title-medium {{ loremIpsum }}</div>
  <div class="typography mat-title-small">mat-title-small {{ loremIpsum }}</div>
  <div class="typography mat-body-large">mat-body-large {{ loremIpsum }}</div>
  <div class="typography mat-body-medium">mat-body-medium {{ loremIpsum }}</div>
  <div class="typography mat-body-small">mat-body-small {{ loremIpsum }}</div>
  <div class="typography mat-label-large">mat-label-large {{ loremIpsum }}</div>
  <div class="typography mat-label-medium">mat-label-medium {{ loremIpsum }}</div>
  <div class="typography mat-label-small">mat-label-small {{ loremIpsum }}</div>
</div>
